.faq-page-container {
    /* background-color: blue; */
    /* height: 100%; */
    text-align: left;
}

.faq-page-container header {
    background-color: #3c3c3c;
    padding: 20px;
    color: #eeeeee;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 3px solid green;
    margin-bottom: 25px;
}

.faqs {
    width: 100%;
    /* background-color: orange; */
    padding: 25px;
}
/*------search--------*/
.search-question-container{
    /* background-color: orange; */
    padding: 25px;
    display: flex;
}

.search-question-container input{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 25px;
    text-align: center;
}
.search-question-container input:focus{
    outline: none !important;
}

.no-matches{
    font-size: 30px;
    text-align: center;
    display: block;
}
/*------question------*/
.faqs .faq {
    margin: 15px 0px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
    position: relative;
    font-size: 30px;
    padding-right: 80px;
    transition: all 0.4s ease;
    /* background-color: orange; */
    /* display: flex; */
}
.faqs .faq .faq-question i{
    font-size: 10px;
    margin-right: 3px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
}
.faqs .faq-question span {
    position: absolute;
    color: green;
    font-size: 30px;
    top: 50%;
    right: 0px;
    cursor: pointer;
    transition: all 0.4s ease;
    transform: translateY(-50%);
}

.faqs .faq .faq-answer {
    font-size: 20px;
    font-weight: 200;
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease;
}

.faqs .faq.open .faq-question {
    margin-bottom: 15px;
}

.faqs .faq.open .faq-answer {
    max-height: 100px;
    opacity: 1;
}

.faqs .faq.open .faq-question span {
    color: red;
    transform: translateY(-50%) rotate(180deg);
  }