.App {
  height: 100%;
  min-height: 100vh;
}

.inner-container {
  /* background-color: yellow; */
  display: flex;
  height: 100%;
}
.sidebar {
  width: 250px;
  /* background-color: #eee; */
  text-align: center;
  padding-top: 25px;

}
.sidebar a {
  text-decoration: none;
}
.sidebar a:hover{
  text-decoration: underline;
}


.sidebar li {
  margin-top: 10px;
}

.content {
  width: 100%;
  padding: 20px;
  /* padding-bottom: 0px; */
  background-color: #eee;
  min-height: 100vh;
}